.App {
  text-align: center;
  
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo:hover {
animation: App-logo-reverse infinite 20s linear;
}

#root {
  background: url("https://images.pexels.com/photos/459737/pexels-photo-459737.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb") no-repeat cetner left fixed !important;
  height: 150px;
  padding: 20px;
  color:whitesmoke;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes App-logo-reverse{
  from { transform: rotate(360deg); }
  to{transform: rotate(0deg); }
}

/*
https://images.pexels.com/photos/519663/pexels-photo-519663.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb office
https://images.pexels.com/photos/459737/pexels-photo-459737.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb keyboard
*/

body{
   background: url("http://allswalls.com/images/gradient-wallpaper-5.jpg") no-repeat center left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-links a.active {
  visibility: hidden !important; 
}

.name{
 border: 2px solid whitesmoke;
 color: whitesmoke;
 background-color: transparent;
}
.submit-button:hover{
  background-color:darkgray;
  opacity: .6;
  color: white;
}
.submit-button{
  background-color: transparent; 
  color:whitesmoke;
}