.input{
    border: 2px solid whitesmoke;
 color: whitesmoke;
 background-color: transparent;
}
#idle{
    color: whitesmoke;
}
.go-button:hover{
  background-color:darkgray;
  opacity: .6;
  color: white;
}
.go-button{
  background-color: transparent; 
  color:whitesmoke;
}
.nav-links a.active {
  visibility: hidden; 
  
}